.nav-link {
    color: #fff ;
    font-size: 27px;
}

#navbarNav {
    position: fixed;
    right: 0px;
    padding-right: 80px;
}
.nav-item{
    padding-right: 80px;
}

.navbar-nav{
    padding-right: 80px;
}

.text-bold{
    font-weight: bolder;
    text-transform: uppercase;
    font-style: italic;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.nav-link:hover{
    color: darkgoldenrod;
}
.navbar-brand{
    position: absolute;
    left: 0px;
    font-size: 80px;
    color: darkgoldenrod;
    font-family: "Times New Roman", Times, serif;
    padding: 4px 4px 4px 20px;
    text-decoration: underline;
}




.navbar-brand:hover{
    color: #ffffff;
}

.navbar-toggler-icon{
    color: #ffffff;
    background-color: darkgoldenrod;
}
nav{
    height: 90px;

}

.text-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

/*----------footer-----------*/
.footer{
    width: 100%;
    text-align: center;
    padding: 30px 0;
    background-color:  #000000;

}

.footer h5{
    margin-bottom: 25px;
    font-weight: 600;
}
.icons .fa{
    color:darkgoldenrod;
    margin: 0 13px;
    cursor: pointer;
    padding: 18px 0;
    font-size: 50px;
}
.footer p {
    font-size: 20px;

}



.myOffer{
    width: 100%;
    margin: auto;
    text-align: center;
    padding-top: 0;
    background-color: transparent;
    background-repeat: no-repeat;
    
    
}
h3{
    font-size: 36px;
    font-weight: 600;
}
p{
    color: #ffffff;
    font-size: 50px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
}
.row{   
    display: flex;
    justify-content: space-between;
}

.offer-col{
    flex-basis: 31%;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
    color: #fff;
    


}


.offer-col h5{
    color: darkgoldenrod;
    text-align: center;
}
.General-Skills{
    padding: 0;
    margin: 0;
}
.Programming-Skills{
    padding: 0;
    margin: 0;
}
.Unreal-Skills{
    padding: 0;
    margin: 0;
    
}
.General-Skills li{
    font-size: 30px;
   text-align:  center;
}
.Programming-Skills li {
    font-size: 30px;
    text-align:  center;

}

.offer-col ul{
    animation: fadeIn 15s;
    -webkit-animation: fadeIn 15s;
    -moz-animation: fadeIn 15s;
    -o-animation: fadeIn 15s;
    -ms-animation: fadeIn 15s;
}

.Unreal-Skills li {
    font-size: 30px;
    text-align:  center;

}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@-moz-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@-webkit-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@-o-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@-ms-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}
.offer-col li {
    list-style: none;
}

h4{
    text-align: center;
    font-weight: 600;
    margin: 10px 0;
    text-decoration: underline;
    font-size: 50px;
}
.offer-col:hover{
    box-shadow: 0 0 20px 0px rgba(255, 255, 255, 0.2) ;

}

.footer2{
    text-align: center;
    background-color: #000000;
    font-size: 50px;
    color: darkgoldenrod;
}

.footer2 .fa{
    color: darkgoldenrod;
    padding-left: 60px;
}
.footer2 p {
    font-size: 20px;
    color:#ffffff;
}

.text-box .footer1 p{
    color: darkgoldenrod;
    width: 100%;
    font-size: 60px;
    text-decoration: underline;
}

.text-box .footer1{
width: 100%;
margin-top: 0;
padding-top: 100px;
}

.text-box .footer1 h4{
    color:darkgoldenrod ;
}
.Home-footer{
    width: 100%;
}
.Home-footer p{
    padding-left: 60px;
}


/*---- main ---*/
#aboutmetxtbox{
    padding: 10%;
    width: 100%;
}
.text-box h2{
    color: #ffffff;
    font-size: 40px;
}
.text-box h1{
    color: #ffffff;
    font-size: 100px;
}
.text-box p{
    display:inline-block;
    color: #ffffff;
    font-size: 35px;
    line-height: 40px;
    text-align: center;

}
 #home{
    width: 100%;
    display: flex;
    background-color: #000000;
    background-image: linear-gradient(rgba(19, 19, 19, 0.7),rgba(4,9,30,0.7)), url(Images/Controller.jpg);
    background-position: center;
    justify-content: center;
    position: relative;
    align-items: center;
  }

#about{
    display: flex;
    
    background-color: #000000;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7),rgba(4,9,30,0.7)), url(Images/codiing3.jpg);
    background-repeat: no-repeat;
    background-position: center;
    justify-content: center;
    position: relative;
    align-items: center;
}

#bgProject{

    display: flex;
    background-color: #000000;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7),rgba(4,9,30,0.7)), url(Images/Controller2.jpg);
    background-repeat: no-repeat;
    background-position: center;
    justify-content: center;
    position: relative;
    align-items: center;
    min-height: 100vh;
    
}

  footer{
    background-color: #000000;
  }

/*---- About me ----*/

 .About-Me h5{
    color: darkgoldenrod;
    font-size: 80px;
    text-align: center;
}

.col-sm-4{
    padding: 60px;
}


.All-Skills{
    top: 0;
    padding-top: -50%;
    height: 100%;
}
.About-Me p{
    text-align: left;
    color: rgb(255, 255, 255);
    font-size: 30px;
    line-height: 3vh;
    padding-left: 65px;
    font-family: "Times New Roman", Times, serif;

}
.Skills .skill-header{
    font-size: 30px;
    color: darkgoldenrod;
    list-style: none;
    font-weight: bolder;
    padding-left: 30px;
    text-align: center;

}

.Skills .skill-notes{
    text-align: left;
    font-size: 30px;
    color: rgb(255, 255, 255);
    line-height: 3vh;
    list-style: none;
    font-family: "Times New Roman", Times, serif;
}

.container2{
    width: 100%;
    overflow: hidden;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-box{
    position: relative;
    width: 400px;
    height: 400px;
    transform-style: preserve-3d;
    animation: animate 100s linear infinite;
}
@keyframes animate{

    0%{
        transform: perspective(2000px) rotateY(0deg);
    }
    100%{
        transform: perspective(2000px) rotateY(360deg);
    }
}

.image-box span{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform-origin: center;
    transform-style: preserve-3d;
    transform: rotateY(calc(var(--i) * 45deg)) translateZ(800px);   
    -webkit-box-reflect: below 0px linear-gradient(transparent, transparent, #0004 );
}

.image-box span img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;

}

.image-box span video{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;

}

.image-box span embed{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;

}

.image-box img.paused {
    animation-play-state: paused;
 }



.image-box.is-flipped {
    transform: rotateY(180deg);
}
.contact-box h5{
    font-size: 60px;
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;
    -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
  padding-bottom: 100px;
}

@-webkit-keyframes glow {
    from {
      text-shadow: 0 0 10px #eeeeee, 0 0 20px #000000, 0 0 30px #000000, 0 0 40px #000000, 
                   0 0 50px #bba319, 0 0 60px #bba319, 0 0 70px #bba319;
    }
    to {
      text-shadow: 0 0 20px #eeeeee, 0 0 30px #ff0000, 0 0 40px #ff0000, 0 0 50px #ff4da6, 
                   0 0 60px #ff0000, 0 0 70px #ff0000, 0 0 80px #ff0000;
    }
  }
#bgContact{
    display: flex;
    background-color: #000000;
    background-image: linear-gradient(rgba(56, 67, 81, 0.7),rgba(4,9,30,0.7)), url(Images/Space.jpg);
    background-repeat: no-repeat;
    background-position: center;
    justify-content: center;
    position: relative;
    align-items: center;
    min-height: 100vh;
}

.contact-box{
    width: 100%;
}

.comment-box {
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
    
}
.comment-form input, .comment-form textarea{
    width: 40%;
    padding: 10px;
    margin: 20px;
    box-sizing: border-box;
    border: none;
    outline: none;
    background: transparent;
    border: none;
    color: #ffffff;
    background:linear-gradient(#ffffff, #ffffff) center bottom 5px /calc(100% - 10px) 2px no-repeat;
    background-color: transparent;

}

.comment-form textarea{
    margin-top: 0px;
}

.comment-form ::-webkit-input-placeholder{
    font-size: 20px;
    color: #ffffff;
}
.comment-box button{
    border: 1px solid #ffffff;
    background: transparent;
    font-size: 30px;
    letter-spacing: 1px;
    color: #ffffff;
    padding: 30px 150px;
    position: relative;
    cursor: pointer;
    display: inline-block;
    margin: 1em;
    text-align: center;
}
.comment-box button:hover{
    border: 1px solid  rgb(65, 47, 1);
    background: darkgoldenrod;
    transition:2s;
    
}

@media(max-width: 700px){

    .navbar-toggler-icon{
        position: absolute;
        right: 20px;
        top: 5px;
    }

    .navbar-toggler{
        position: absolute;
        right: 20px;
        top: 35px;
    }

    .navbar-brand{
        font-size: 30px;
    }

    .text-box{
        width: 100%;
        align-items: center;
        justify-content: center;
    
    }
    .text-box h2{
        font-size: 20px;
    }
    .text-box h1{
       font-size: 45px;
    }
    .text-box p{
        font-size: 30px;
    }
   

    .Home-footer{
        width: 100%;
    }
    #navbarNav{
        position: fixed;
        left: 0;
        top: 80px;
        padding-right: 0;
        background-color: #000000;
        width: 100%;
    }


    .text-box{
        padding-top: 0;
       justify-content: center;
       width: 100%;
    }

    .text-box p{
        font-size: 20px;
    }

    #aboutmetxtbox{
        padding: 0;
    }

    .row{
        width: 100%;
        justify-content: center;
    }
    .text-box .footer1 {
        padding: 0%;
    }



    .About-Me h5{
        padding-top: 100px;
        font-size: 30px;
        padding-left: 0;
    }
    .About-Me p{
        text-align: left;
        line-height: 20px;
        font-size: 19px;
        justify-content: center;
    }

    .offer-col{
        width: 100%;
    }

    .All-Skills li{
        width: 100%;
        justify-content: center;
        
    }

    .col-sm-4{
        padding: 0;
    }
    .Skills .skill-header{
        justify-content: center;
    }
    
    .Skills .skill-notes{
        font-size: 16px;
    }

    .footer2{
        text-align:left;
        padding-left: 20px;
    }
    .Home-footer p{
        padding-left: 90px;
    }

    .contact-box h5{
        font-size: 20px;
    }
    .comment-form input{
        width: 100%;
    }

    .comment-form textarea{
        width: 100%;
    }

    .comment-box button{
        padding: 20px 60px;
    }
    object{
        width: 80%;
        height: 50%;
    }
    object p{
        width: 100%;
        font-size: 20px;
        line-height: 20px;
        justify-content: center;
        text-align: center;
    }

    .image-box{
        position: relative;
        width: 400px;
        height: 400px;
        transform-style: none;
        animation: none;

    }

    .image-box span{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        transform-origin: center;
        transform-style: none;
        transform: none;   
        -webkit-box-reflect: below 0px linear-gradient(transparent, transparent, #0004 );
    }

    .image-box {
        position: relative;

      }
      
      .mySlides {
        position: absolute;
        opacity: 0;
        transition: opacity 1s ease-in-out;
      }
      
      .mySlides:first-child {
        opacity: 100%;
      }
}
