.nav-link {
    color: #fff ;
}

.nav-link:hover{
    color: darkgoldenrod;
}
.navbar-brand{
    position: absolute;
    padding: 4px;
    padding-left: 20px;
    left: 0;
    font-size: 50px;
    color: darkgoldenrod;
    font-family: "Times New Roman", Times, serif;
    text-decoration: underline;
}

#navbarNav{
        position: fixed;
        right: 0;
        padding-right: 20px;
}

.navbar-brand:hover{
    color: #ffffff;
}

.navbar-toggler-icon{
    color: #ffffff;
    background-color: darkgoldenrod;
}
nav{
    height: 90px;

}

.navbar-toggler{
    color: #ffffff;
}
.text-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

/*----------footer-----------*/
.footer{
    width: 100%;
    text-align: center;
    padding: 30px 0;
    background-color:  #000000;

}

.footer h5{
    margin-bottom: 25px;
    font-weight: 600;
}
.icons .fa{
    color:darkgoldenrod;
    margin: 0 13px;
    cursor: pointer;
    padding: 18px 0;
    font-size: 50px;
}
.footer p {
    font-size: 20px;

}

.myOffer{
    width: 100%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
    background-color: #000000;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)), url(Images/Banner2.png);
    background-repeat: no-repeat;
    
}
h3{
    font-size: 36px;
    font-weight: 600;
}
p{
    color: #ffffff;
    font-size: 50px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
}
.row{   
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}

.offer-col{
    flex-basis: 31%;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
    color: #fff;


}
.offer-col h5{
    color: darkgoldenrod;
}
.General-Skills{
    padding: 0;
    margin: 0;
}
.Programming-Skills{
    padding: 0;
    margin: 0;
}
.Unreal-Skills{
    padding: 0;
    margin: 0;
    
}
.General-Skills li{
    font-size: 20px;
   text-align:  center;
}
.Programming-Skills li {
    font-size: 20px;
    text-align:  center;
}
.Unreal-Skills li {
    font-size: 20px;
    text-align:  center;
}
.offer-col li {
    list-style: none;
}

h4{
    text-align: center;
    font-weight: 600;
    margin: 10px 0;
    text-decoration: underline;
    font-size: 50px;
}
.offer-col:hover{
    box-shadow: 0 0 20px 0px rgba(255, 255, 255, 0.2) ;

}

.footer2{
    text-align: center;
    background-color: #000000;
    font-size: 50px;
    color: darkgoldenrod;
}

.footer2 .fa{
    color: darkgoldenrod;
}
.footer2 p {
    font-size: 20px;
    color:#ffffff;
}

.Home-footer .footer1 p{
    color: darkgoldenrod;
    font-size: 60px;
    text-decoration: underline;
}

.Home-footer .footer1 h4{
    color:darkgoldenrod ;
}
.Home-footer{
    width: 100%;
}


/*---- main ---*/
#aboutmetxtbox{
    padding: 6%;
}
.text-box h2{
    color: #ffffff;
    font-size: 40px;
}
.text-box h1{
    color: #ffffff;
    font-size: 100px;
}
.text-box p{
    color: #ffffff;
    font-size: 35px;
    line-height: 40px;
    text-align: center;
}
 #home{
    display: flex;
    background-color: #000000;
    background-image: linear-gradient(rgba(19, 19, 19, 0.7),rgba(4,9,30,0.7)), url(Images/Controller.jpg);
    background-position: center;
    justify-content: center;
    position: relative;
    align-items: center;
  }

#about{
    display: flex;
    background-color: #000000;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7),rgba(4,9,30,0.7)), url(Images/codiing3.jpg);
    background-repeat: no-repeat;
    background-position: center;
    justify-content: center;
    position: relative;
    align-items: center;
}

#bgProject{

    display: flex;
    background-color: #000000;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7),rgba(4,9,30,0.7)), url(Images/Controller2.jpg);
    background-repeat: no-repeat;
    background-position: center;
    justify-content: center;
    position: relative;
    align-items: center;
    min-height: 100vh;
    
}

  footer{
    background-color: #000000;
  }

/*---- About me ----*/

.Skills h5, .About-Me h5{
    color: darkgoldenrod;
    font-size: 60px;
    text-align: center;
}

.About-Me p{
    text-align: left;
    font-size: 25px;
    line-height: 3vh;
    padding-left: 65px;

}
.Skills .skill-header{
    font-size: 30px;
    color: darkgoldenrod;
    list-style: none;
    padding-left: 30px;

}

.Skills .skill-notes{
    text-align: left;
    font-size: 25px;
    color: rgb(255, 255, 255);
    list-style: none;
}

.container2{
    width: 100%;
    overflow: hidden;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-box{
    position: relative;
    width: 400px;
    height: 400px;
    transform-style: preserve-3d;
    animation: animate 100s linear infinite;
}
@keyframes animate{

    0%{
        transform: perspective(2000px) rotateY(0deg);
    }
    100%{
        transform: perspective(2000px) rotateY(360deg);
    }
}

.image-box span{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform-origin: center;
    transform-style: preserve-3d;
    transform: rotateY(calc(var(--i) * 45deg)) translateZ(800px);   
    -webkit-box-reflect: below 0px linear-gradient(transparent, transparent, #0004 );
}

.image-box span img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;

}

.image-box span video{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;

}

.image-box span embed{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;

}

.image-box img.paused {
    animation-play-state: paused;
 }



.image-box.is-flipped {
    transform: rotateY(180deg);
}
.contact-box h5{
    font-size: 60px;
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;
    -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
  padding-bottom: 100px;
}

@-webkit-keyframes glow {
    from {
      text-shadow: 0 0 10px #eeeeee, 0 0 20px #000000, 0 0 30px #000000, 0 0 40px #000000, 
                   0 0 50px #bba319, 0 0 60px #bba319, 0 0 70px #bba319;
    }
    to {
      text-shadow: 0 0 20px #eeeeee, 0 0 30px #ff0000, 0 0 40px #ff0000, 0 0 50px #ff4da6, 
                   0 0 60px #ff0000, 0 0 70px #ff0000, 0 0 80px #ff0000;
    }
  }
#bgContact{
    display: flex;
    background-color: #000000;
    background-image: linear-gradient(rgba(56, 67, 81, 0.7),rgba(4,9,30,0.7)), url(Images/Space.jpg);
    background-repeat: no-repeat;
    background-position: center;
    justify-content: center;
    position: relative;
    align-items: center;
    min-height: 100vh;
}

.contact-box{
    width: 100%;
}

.comment-box {
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
    
}
.comment-form input, .comment-form textarea{
    width: 25%;
    padding: 10px;
    margin: 15px;
    box-sizing: border-box;
    border: none;
    outline: none;
    background: transparent;
    border: none;
    color: #ffffff;
    background:linear-gradient(#ffffff, #ffffff) center bottom 5px /calc(100% - 10px) 2px no-repeat;
    background-color: transparent;
    padding: 10px;


}
.comment-form ::-webkit-input-placeholder{
    font-size: 20px;
    color: #ffffff;
}
.comment-box button{
    border: 1px solid #ffffff;
    background: transparent;
    font-size: 30px;
    letter-spacing: 1px;
    color: #ffffff;
    padding: 26px 150px;
    position: relative;
    cursor: pointer;
    display: inline-block;
    margin: 1em;
    text-align: center;
}
.comment-box button:hover{
    border: 1px solid  rgb(65, 47, 1);
    background: darkgoldenrod;
    transition:2s;
    
}
@media(max-width: 700px){
    .text-box h1{
        font-size: 40px;
    }
    .text-box h2{
        font-size: 20px;
    }
    .text-box p{
        font-size: 15px;
    }
    .footer1 .myOffer p{
        font-size: 30px;
    }
    .myOffer{
        text-align: center;
    }
    .Skills .skill-notes{
        font-size: 15px;
    }

    .text-box{
        text-align: center;
        padding-top: 30%;
    }
    .skill-notes{
        text-align: center;
    }

    .Skills{
        font-size: 20px;
        
    }
    .About-Me{
        font-size: 20px;
    }
    .About-Me p{
        font-size: 15px;
    }
    .break{
        display: none;
    }
    .Aboutheader{
        min-height: 300vh;
    }

    .About-Me{
        font-size:  20px;
        text-align: center;


    }
    .About-Me p{
        text-align: center;
        line-height: 20px;
        font-size: 16px;
    }
    .All-Skills{
        font-size: 20px;
        text-align: center;
        grid-template-columns: repeat(1, 1fr);
    }

    .All-Skills .skill-notes{
        list-style: none;
        font-size: 20px;
    }
    .All-Skills .skill-header{
        font-size: 30px;
    }
    .offer-col{
        width: 100%;
        text-align: center;
        align-items: center;
    }
    .image-box{
        width: 200px;
        height: 200px;
    }
    
    .image-box span{
        transform: rotateY(calc(var(--i) * 45deg)) translateZ(100%vw);   

    }
}